---
import config from "@/config/config.json";
import { Image } from "astro:assets";
const { src, showText } = Astro.props;
const {
  logo_text,
  logo_width,
  logo_height,
  title,
}: {
  logo: string;
  logo_text: string;
  logo_width: string;
  logo_height: string;
  title: string;
} = config.site;

const text = logo_text;
---

<a href="/" class="navbar-brand flex flex-row items-center">
  {
    src ? (
      <Image
        class="h-9 w-auto"
        src={src}
        alt={title}
        width={Number(logo_width)}
        height={Number(logo_height)}
      />
    ) : (
<svg
   version="1.1"
   id="Layer_1"
   x="0px"
   y="0px"
   viewBox="0 0 60 60"
   xml:space="preserve"
   width="60"
   height="60"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg">
   <defs id="defs31312"><linearGradient
     id="linearGradient37982"><stop
       style="stop-color:#000000;stop-opacity:0.48637313;"
       offset="0"
       id="stop37978" /><stop
       style="stop-color:#000000;stop-opacity:0;"
       offset="1"
       id="stop37980" /></linearGradient><linearGradient
     id="linearGradient34126"><stop
       style="stop-color:#474747;stop-opacity:1;"
       offset="0"
       id="stop34122" /><stop
       style="stop-color:#474747;stop-opacity:0;"
       offset="1"
       id="stop34124" /></linearGradient><linearGradient
     xlink:href="#linearGradient34126"
     id="linearGradient34128"
     x1="33.898438"
     y1="1006.2373"
     x2="1991.5254"
     y2="1006.2373"
     gradientUnits="userSpaceOnUse"
     gradientTransform="translate(-0.47003578,-0.22904727)" /><linearGradient
     xlink:href="#linearGradient37982"
     id="linearGradient37986"
     x1="33.898438"
     y1="1006.2373"
     x2="1991.5254"
     y2="1006.2373"
     gradientUnits="userSpaceOnUse"
     gradientTransform="translate(-0.47003578,-0.22897527)" /></defs>
<style
   type="text/css"
   id="style31289">
	.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#2E3191;}
</style>

<g
   id="layer1"
   style="display:inline"><g
     id="g1440"
     transform="matrix(0.02538552,0,0,0.02538552,4.227653,4.3098336)"><path
       id="path37864"
       style="display:inline;fill:none;fill-opacity:1;stroke:#131312;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke"
       d="M 1012.7129,27.423828 C 753.11568,27.423528 504.15103,130.54853 320.58789,314.11133 137.02475,497.67403 33.89872,746.63903 33.898438,1006.2363 c -2.55e-4,259.5973 103.124732,508.5619 286.687502,692.125 183.56275,183.5632 432.52779,286.6892 692.12496,286.6895 259.5973,3e-4 508.5619,-103.1248 692.125,-286.6875 183.5633,-183.5628 286.6892,-432.5278 286.6895,-692.125 2e-4,-259.59727 -103.1247,-508.56197 -286.6875,-692.12507 C 1521.2752,130.55013 1272.3101,27.424028 1012.7129,27.423828 Z m 90.3242,433.595702 h 634.916 l -215.8711,637.15427 -216.7129,-1.7226 74.4961,-236.77737 -281.0566,0.8554 49.0996,-121.4062 c 14.3921,-30.9987 26.2388,-42.1913 59.2617,-45.6367 l 231.1055,-1.7227 16.0859,-54.2402 -275.9746,0.8554 c -30.478,0 -75.3482,43.0467 -83.8066,74.9121 L 967.5957,1069.7539 c -22.86083,47.3599 -35.55862,70.6011 -72.80078,104.1777 -20.3149,18.0836 -80.42055,52.518 -110.05664,55.1075 l -468.14258,1.7226 c -86.35156,0 -110.05398,-101.599 -95.66211,-144.6465 l 159.1543,-472.67967 h 226.875 L 463.05273,1028.4395 c -5.92291,15.4929 -5.92255,29.2766 16.92774,33.5781 l 258.19531,-0.8555 c 8.46896,-4.3015 13.53885,-5.1684 22.00781,-21.5293 L 904.94727,609.98043 c 25.39622,-64.5761 94.81101,-132.6003 198.08983,-148.9609 z M 468.56641,1368.2676 h 8.74023 46.88086 35.75977 46.89062 l -17.48047,50.8613 H 542.4668 505.91602 468.56641 l -2.37891,6.3594 -7.95117,23.0508 -8.74024,24.6289 -15.88867,45.3008 h 34.16992 41.32032 43.70898 l -17.48047,51.6503 h -44.5 -40.52929 -42.11915 -8.74023 c -25.42967,0 -40.5307,-13.5111 -34.9707,-30.2011 l 48.4707,-140.6602 c 6.35989,-16.69 30.98913,-30.9902 55.62891,-30.9902 z m 203.42968,0 h 15.10157 l 2.61718,0.1875 64.93164,-0.1875 h 10.33008 7.15039 c 24.6298,0 40.52983,14.3002 34.16993,30.9902 l -48.47071,140.6602 c -5.5599,15.1 -28.60864,28.6104 -51.64844,29.4004 v 0.789 h -3.9707 -7.15039 -3.96875 -3.9707 v -51.6484 h 19.86914 l 4.77148,-13.5098 7.94922,-23.0508 8.74024,-24.6308 13.50976,-38.1387 h -4.76953 l -33.95555,-0.1866 c -7.45521,0.1025 -7.89453,0.2615 -7.89453,0.2615 l -8.23976,-0.075 h -14.30078 -4.76954 l -2.38086,4.7695 -7.94921,23.8399 -8.74024,24.6308 -15.89062,46.0899 h 6.36132 47.67969 v 51.6484 h -65.96094 -9.53906 -8.74023 c -24.6298,0 -40.52992,-13.5092 -34.16992,-30.1992 l 48.46875,-140.6602 c 5.5599,-16.689 30.20037,-30.1992 54.83007,-30.1992 z m 174.04102,0 h 46.87891 18.28125 64.35937 18.28125 c 23.04991,1.59 37.34831,14.3002 31.78911,30.9902 l -49.26958,140.6602 c -6.35991,15.89 -30.20026,29.4011 -54.83008,30.2011 h -10.33007 v -0.012 h -4.76954 -68.33984 -60.39062 z m 216.14059,0 h 60.3887 v 0.791 h 23.8398 55.6309 27.8106 l -18.2715,50.0605 h -27.0196 -55.6289 -23.041 l -9.539,27.0196 h 10.33 69.9297 15.0996 l -13.5097,42.9101 h -15.0996 -69.9297 -11.1211 l -10.3301,28.6094 h 5.5605 15.0997 42.1093 15.1016 12.7187 15.0996 l -18.2792,52.4492 h -15.0997 -12.7109 -15.0996 -42.1191 -15.1016 -4.7695 -61.18949 z m 185.959,0 h 60.3906 v 0.791 h 13.5098 42.1191 22.25 l 0.7911,-0.791 c 11.92,0 21.4593,-2e-4 28.6093,1.5898 9.5399,1.59 15.1006,5.561 15.8907,12.711 v 4.7695 c 0,2.38 -0.7909,5.561 -2.3809,9.541 l -1.5898,6.3594 -2.3789,8.7402 -4.7715,17.4805 v -0.791 c -1.5899,5.56 -3.1797,9.5397 -4.7696,13.5097 v -0.01 c -7.1501,15.89 -17.4794,21.4608 -38.9394,23.0508 15.1,3.9693 23.0491,14.2995 19.8691,27.0195 l -10.3301,31.789 -0.789,0.7911 -3.1797,10.33 -11.9199,34.9707 h -48.4707 v -34.1699 l 3.9707,-11.1308 10.3301,-32.5801 1.5898,-3.9707 h -15.8906 v -37.3496 h 30.9902 0.7891 l 0.791,-2.3789 3.1797,-11.1309 3.1797,-10.3301 2.3808,-7.9492 h -16.6914 -24.6289 v -0.01 h -30.2012 l -11.1289,31.7891 h 2.3789 38.9414 v 37.3496 h -53.2402 -0.791 l -27.8086,81.8496 h -61.1914 z m 263.8203,0 h 46.8789 35.7618 46.8886 l -17.4785,50.0605 h -46.8906 -35.7598 -34.1699 l -3.1797,7.9492 -7.1504,19.8711 h 0.7891 64.3711 13.5097 4.7696 c 24.63,0 38.9395,15.8901 32.5801,32.5801 l -4.7696,11.9199 -9.541,25.4297 -8.7402,23.8399 c -5.56,16.69 -30.9895,30.2011 -55.6289,30.2011 h -8.7403 -13.5097 -95.3614 -20.6582 l 19.0684,-52.4511 h 20.6601 96.1504 11.92 l 2.3808,-7.9492 7.9492,-20.6602 h -0.789 -64.3711 -7.9492 -7.9297 c -26.22,0 -42.9106,-15.101 -38.1406,-31.791 l 4.7695,-14.2988 h 0.791 l 10.3301,-27.8106 5.5586,-16.6894 c 5.56,-16.69 30.9914,-30.2012 55.6308,-30.2012 z m -622.21091,50.0605 -33.3789,99.3301 h 54.83008 v 0.01 h 13.50976 6.35938 l 34.9707,-99.3301 h -7.94922 -46.89062 v -0.01 H 893.7168 Z m 432.28121,117.6094 v 34.1699 h -11.1308 z" /><circle
       style="display:inline;fill:#ffffff;fill-opacity:1;stroke:#7e8281;stroke-width:12;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:0.506329;paint-order:fill markers stroke"
       id="path38040"
       cx="1015.2381"
       cy="1012.0008"
       r="978.81348" /><path
       id="path37974"
       style="display:inline;fill:#08734c;fill-opacity:1;stroke:#b8dedf;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:0.78481;paint-order:fill markers stroke"
       d="M 1012.7129,27.423828 C 753.11568,27.423528 504.15103,130.54853 320.58789,314.11133 137.02475,497.67403 33.89872,746.63903 33.898438,1006.2363 c -2.55e-4,259.5973 103.124732,508.5619 286.687502,692.125 183.56275,183.5632 432.52779,286.6892 692.12496,286.6895 259.5973,3e-4 508.5619,-103.1248 692.125,-286.6875 183.5633,-183.5628 286.6892,-432.5278 286.6895,-692.125 2e-4,-259.59727 -103.1247,-508.56197 -286.6875,-692.12507 C 1521.2752,130.55013 1272.3101,27.424028 1012.7129,27.423828 Z m 90.3242,433.595702 h 634.916 l -215.8711,637.15427 -216.7129,-1.7226 74.4961,-236.77737 -281.0566,0.8554 49.0996,-121.4062 c 14.3921,-30.9987 26.2388,-42.1913 59.2617,-45.6367 l 231.1055,-1.7227 16.0859,-54.2402 -275.9746,0.8554 c -30.478,0 -75.3482,43.0467 -83.8066,74.9121 L 967.5957,1069.7539 c -22.86083,47.3599 -35.55862,70.6011 -72.80078,104.1777 -20.3149,18.0836 -80.42055,52.518 -110.05664,55.1075 l -468.14258,1.7226 c -86.35156,0 -110.05398,-101.599 -95.66211,-144.6465 l 159.1543,-472.67967 h 226.875 L 463.05273,1028.4395 c -5.92291,15.4929 -5.92255,29.2766 16.92774,33.5781 l 258.19531,-0.8555 c 8.46896,-4.3015 13.53885,-5.1684 22.00781,-21.5293 L 904.94727,609.98043 c 25.39622,-64.5761 94.81101,-132.6003 198.08983,-148.9609 z M 468.56641,1368.2676 h 8.74023 46.88086 35.75977 46.89062 l -17.48047,50.8613 H 542.4668 505.91602 468.56641 l -2.37891,6.3594 -7.95117,23.0508 -8.74024,24.6289 -15.88867,45.3008 h 34.16992 41.32032 43.70898 l -17.48047,51.6503 h -44.5 -40.52929 -42.11915 -8.74023 c -25.42967,0 -40.5307,-13.5111 -34.9707,-30.2011 l 48.4707,-140.6602 c 6.35989,-16.69 30.98913,-30.9902 55.62891,-30.9902 z m 203.42968,0 h 15.10157 l 2.61718,0.1875 64.93164,-0.1875 h 10.33008 7.15039 c 24.6298,0 40.52983,14.3002 34.16993,30.9902 l -48.47071,140.6602 c -5.5599,15.1 -28.60864,28.6104 -51.64844,29.4004 v 0.789 h -3.9707 -7.15039 -3.96875 -3.9707 v -51.6484 h 19.86914 l 4.77148,-13.5098 7.94922,-23.0508 8.74024,-24.6308 13.50976,-38.1387 h -4.76953 l -33.95555,-0.1866 c -7.45521,0.1025 -7.89453,0.2615 -7.89453,0.2615 l -8.23976,-0.075 h -14.30078 -4.76954 l -2.38086,4.7695 -7.94921,23.8399 -8.74024,24.6308 -15.89062,46.0899 h 6.36132 47.67969 v 51.6484 h -65.96094 -9.53906 -8.74023 c -24.6298,0 -40.52992,-13.5092 -34.16992,-30.1992 l 48.46875,-140.6602 c 5.5599,-16.689 30.20037,-30.1992 54.83007,-30.1992 z m 174.04102,0 h 46.87891 18.28125 64.35937 18.28125 c 23.04991,1.59 37.34831,14.3002 31.78911,30.9902 l -49.26958,140.6602 c -6.35991,15.89 -30.20026,29.4011 -54.83008,30.2011 h -10.33007 v -0.012 h -4.76954 -68.33984 -60.39062 z m 216.14059,0 h 60.3887 v 0.791 h 23.8398 55.6309 27.8106 l -18.2715,50.0605 h -27.0196 -55.6289 -23.041 l -9.539,27.0196 h 10.33 69.9297 15.0996 l -13.5097,42.9101 h -15.0996 -69.9297 -11.1211 l -10.3301,28.6094 h 5.5605 15.0997 42.1093 15.1016 12.7187 15.0996 l -18.2792,52.4492 h -15.0997 -12.7109 -15.0996 -42.1191 -15.1016 -4.7695 -61.18949 z m 185.959,0 h 60.3906 v 0.791 h 13.5098 42.1191 22.25 l 0.7911,-0.791 c 11.92,0 21.4593,-2e-4 28.6093,1.5898 9.5399,1.59 15.1006,5.561 15.8907,12.711 v 4.7695 c 0,2.38 -0.7909,5.561 -2.3809,9.541 l -1.5898,6.3594 -2.3789,8.7402 -4.7715,17.4805 v -0.791 c -1.5899,5.56 -3.1797,9.5397 -4.7696,13.5097 v -0.01 c -7.1501,15.89 -17.4794,21.4608 -38.9394,23.0508 15.1,3.9693 23.0491,14.2995 19.8691,27.0195 l -10.3301,31.789 -0.789,0.7911 -3.1797,10.33 -11.9199,34.9707 h -48.4707 v -34.1699 l 3.9707,-11.1308 10.3301,-32.5801 1.5898,-3.9707 h -15.8906 v -37.3496 h 30.9902 0.7891 l 0.791,-2.3789 3.1797,-11.1309 3.1797,-10.3301 2.3808,-7.9492 h -16.6914 -24.6289 v -0.01 h -30.2012 l -11.1289,31.7891 h 2.3789 38.9414 v 37.3496 h -53.2402 -0.791 l -27.8086,81.8496 h -61.1914 z m 263.8203,0 h 46.8789 35.7618 46.8886 l -17.4785,50.0605 h -46.8906 -35.7598 -34.1699 l -3.1797,7.9492 -7.1504,19.8711 h 0.7891 64.3711 13.5097 4.7696 c 24.63,0 38.9395,15.8901 32.5801,32.5801 l -4.7696,11.9199 -9.541,25.4297 -8.7402,23.8399 c -5.56,16.69 -30.9895,30.2011 -55.6289,30.2011 h -8.7403 -13.5097 -95.3614 -20.6582 l 19.0684,-52.4511 h 20.6601 96.1504 11.92 l 2.3808,-7.9492 7.9492,-20.6602 h -0.789 -64.3711 -7.9492 -7.9297 c -26.22,0 -42.9106,-15.101 -38.1406,-31.791 l 4.7695,-14.2988 h 0.791 l 10.3301,-27.8106 5.5586,-16.6894 c 5.56,-16.69 30.9914,-30.2012 55.6308,-30.2012 z m -622.21091,50.0605 -33.3789,99.3301 h 54.83008 v 0.01 h 13.50976 6.35938 l 34.9707,-99.3301 h -7.94922 -46.89062 v -0.01 H 893.7168 Z m 432.28121,117.6094 v 34.1699 h -11.1308 z" /><path
       id="path31483"
       style="fill:url(#linearGradient37986);fill-opacity:1;stroke:url(#linearGradient34128);stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:0.519507;paint-order:fill markers stroke"
       d="M 1012.2429,27.194853 C 752.64564,27.194553 503.68099,130.31956 320.11785,313.88236 136.55471,497.44506 33.428684,746.41006 33.428402,1006.0073 c -2.55e-4,259.5973 103.124728,508.5619 286.687498,692.125 183.56275,183.5632 432.52779,286.6892 692.125,286.6895 259.5973,3e-4 508.5619,-103.1248 692.125,-286.6875 183.5633,-183.5628 286.6892,-432.5278 286.6895,-692.125 2e-4,-259.59724 -103.1247,-508.56194 -286.6875,-692.12504 C 1520.8052,130.32116 1271.8401,27.195053 1012.2429,27.194853 Z m 90.3242,433.595707 h 634.916 l -215.8711,637.15424 -216.7129,-1.7226 74.4961,-236.77734 -281.0566,0.8554 49.0996,-121.4062 c 14.3921,-30.9987 26.2388,-42.1913 59.2617,-45.6367 l 231.1055,-1.7227 16.0859,-54.2402 -275.9746,0.8554 c -30.478,0 -75.3482,43.0467 -83.8066,74.9121 L 967.12566,1069.5249 c -22.86083,47.3599 -35.55862,70.6011 -72.80078,104.1777 -20.3149,18.0836 -80.42055,52.518 -110.05664,55.1075 l -468.14258,1.7226 c -86.35156,0 -110.05398,-101.599 -95.66211,-144.6465 l 159.1543,-472.67964 h 226.875 L 462.58269,1028.2105 c -5.92291,15.4929 -5.92255,29.2766 16.92774,33.5781 l 258.19531,-0.8555 c 8.46896,-4.3015 13.53885,-5.1684 22.00781,-21.5293 L 904.47723,609.75146 c 25.39622,-64.5761 94.81105,-132.6003 198.08987,-148.9609 z M 468.09637,1368.0386 h 8.74023 46.88086 35.75977 46.89062 l -17.48047,50.8613 h -46.89062 -36.55078 -37.34961 l -2.37891,6.3594 -7.95117,23.0508 -8.74024,24.6289 -15.88867,45.3008 h 34.16992 41.32032 43.70898 l -17.48047,51.6503 h -44.5 -40.52929 -42.11915 -8.74023 c -25.42967,0 -40.5307,-13.5111 -34.9707,-30.2011 l 48.4707,-140.6602 c 6.35989,-16.69 30.98913,-30.9902 55.62891,-30.9902 z m 203.42968,0 h 15.10157 l 2.61718,0.1875 64.93164,-0.1875 h 10.33008 7.15039 c 24.6298,0 40.52983,14.3002 34.16993,30.9902 l -48.47071,140.6602 c -5.5599,15.1 -28.60864,28.6104 -51.64844,29.4004 v 0.789 h -3.9707 -7.15039 -3.96875 -3.9707 V 1518.23 h 19.86914 l 4.77148,-13.5098 7.94922,-23.0508 8.74024,-24.6308 13.50976,-38.1387 h -4.76953 l -33.95555,-0.1866 c -7.45521,0.1025 -7.89453,0.2615 -7.89453,0.2615 l -8.23976,-0.075 h -14.30078 -4.76954 l -2.38086,4.7695 -7.94921,23.8399 -8.74024,24.6308 -15.89062,46.0899 h 6.36132 47.67969 v 51.6484 h -65.96094 -9.53906 -8.74023 c -24.6298,0 -40.52992,-13.5092 -34.16992,-30.1992 l 48.46875,-140.6602 c 5.5599,-16.689 30.20037,-30.1992 54.83007,-30.1992 z m 174.04102,0 h 46.87891 18.28125 64.35937 18.28125 c 23.04995,1.59 37.34835,14.3002 31.78915,30.9902 l -49.26962,140.6602 c -6.35991,15.89 -30.20026,29.4011 -54.83008,30.2011 h -10.33007 v -0.012 h -4.76954 -68.33984 -60.39062 z m 216.14063,0 h 60.3887 v 0.791 h 23.8398 55.6309 27.8106 l -18.2715,50.0605 h -27.0196 -55.6289 -23.041 l -9.539,27.0196 h 10.33 69.9297 15.0996 l -13.5097,42.9101 h -15.0996 -69.9297 -11.1211 l -10.3301,28.6094 h 5.5605 15.0997 42.1093 15.1016 12.7187 15.0996 l -18.2792,52.4492 h -15.0997 -12.7109 -15.0996 -42.1191 -15.1016 -4.7695 -61.18953 z m 185.959,0 h 60.3906 v 0.791 h 13.5098 42.1191 22.25 l 0.7911,-0.791 c 11.92,0 21.4593,-2e-4 28.6093,1.5898 9.5399,1.59 15.1006,5.561 15.8907,12.711 v 4.7695 c 0,2.38 -0.7909,5.561 -2.3809,9.541 l -1.5898,6.3594 -2.3789,8.7402 -4.7715,17.4805 v -0.791 c -1.5899,5.56 -3.1797,9.5397 -4.7696,13.5097 v -0.01 c -7.1501,15.89 -17.4794,21.4608 -38.9394,23.0508 15.1,3.9693 23.0491,14.2995 19.8691,27.0195 l -10.3301,31.789 -0.789,0.7911 -3.1797,10.33 -11.9199,34.9707 h -48.4707 v -34.1699 l 3.9707,-11.1308 10.3301,-32.5801 1.5898,-3.9707 h -15.8906 v -37.3496 h 30.9902 0.7891 l 0.791,-2.3789 3.1797,-11.1309 3.1797,-10.3301 2.3808,-7.9492 h -16.6914 -24.6289 v -0.01 h -30.2012 l -11.1289,31.7891 h 2.3789 38.9414 v 37.3496 h -53.2402 -0.791 l -27.8086,81.8496 h -61.1914 z m 263.8203,0 h 46.8789 35.7618 46.8886 l -17.4785,50.0605 h -46.8906 -35.7598 -34.1699 l -3.1797,7.9492 -7.1504,19.8711 h 0.7891 64.3711 13.5097 4.7696 c 24.63,0 38.9395,15.8901 32.5801,32.5801 l -4.7696,11.9199 -9.541,25.4297 -8.7402,23.8399 c -5.56,16.69 -30.9895,30.2011 -55.6289,30.2011 h -8.7403 -13.5097 -95.3614 -20.6582 l 19.0684,-52.4511 h 20.6601 96.1504 11.92 l 2.3808,-7.9492 7.9492,-20.6602 h -0.789 -64.3711 -7.9492 -7.9297 c -26.22,0 -42.9106,-15.101 -38.1406,-31.791 l 4.7695,-14.2988 h 0.791 l 10.3301,-27.8106 5.5586,-16.6894 c 5.56,-16.69 30.9914,-30.2012 55.6308,-30.2012 z m -622.21095,50.0605 -33.3789,99.3301 h 54.83008 v 0.01 h 13.50976 6.35938 l 34.9707,-99.3301 h -7.94922 -46.89062 v -0.01 h -17.48047 z m 432.28125,117.6094 v 34.1699 h -11.1308 z" /><path
       style="color:#000000;fill:#ffffff;stroke-linecap:round;stroke-linejoin:round;-inkscape-stroke:none;paint-order:fill markers stroke"
       d="M 1012.2422,58.197266 C 760.86952,58.196999 519.78443,158.05737 342.03711,335.80469 164.28979,513.552 64.429425,754.6371 64.429687,1006.0098 c 2.62e-4,251.3723 99.862113,492.4562 277.609373,670.2031 177.74726,177.7469 418.8308,277.6077 670.20314,277.6074 251.372,-2e-4 492.4563,-99.8606 670.2031,-277.6074 177.7468,-177.7468 277.6072,-418.8312 277.6074,-670.2031 3e-4,-251.37235 -99.8585,-492.45785 -277.6054,-670.20511 C 1504.7004,158.05743 1263.6145,58.197527 1012.2422,58.197266 Z m 0,14 c 247.6647,2.58e-4 485.1795,98.382264 660.3047,273.507814 175.1252,175.12555 273.5061,412.64001 273.5058,660.30472 -2e-4,247.6643 -98.3807,485.1776 -273.5058,660.3027 -175.1252,175.1251 -412.6404,273.5076 -660.3047,273.5078 -247.66469,3e-4 -485.17915,-98.3807 -660.3047,-273.5058 C 176.81195,1491.1893 78.429945,1253.6744 78.429687,1006.0098 78.429428,758.34475 176.81189,520.82873 351.9375,345.70312 527.06311,170.57752 764.57718,72.197003 1012.2422,72.197266 Z"
       id="path34182" /></g></g></svg>

    )
  }

  {
    showText != false && (
      <p class="hidden md:block text-text md:text-3xl font-bold ml-2">
        {text ? text : logo_text}
      </p>
    )
  }
</a>
